<%- include('../partials/head') %>
<title>Moire By Asma || Homepage</title>
<%- include('../partials/headclose') %>
<%- include('../partials/topper') %>
<%- include('../partials/navbar') %>
<%- include('../partials/carousel') %>
<%- include('../partials/categoryshowcase') %>
<%- include('../partials/footer') %>
<%- include('../partials/bodyclose') %>
