<%- include('../partials/head') %>
<title>Checkout || Moire by Asma</title>
<%- include('../partials/headclose') %>
<div class="bodyContainer">
  <div class="userInfo">
    <a href="/">
      <img src="#" class="logo" />
    </a>
    <%- include('../partials/flash') %>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/cart">Cart</a></li>
        <li class="breadcrumb-item"><a href="/checkout">Information</a></li>
        <li class="breadcrumb-item active" aria-current="page">Shipping</li>
        <li class="breadcrumb-item"><a href="/payment">Payment</a></li>
      </ol>
    </nav>
    <div class="dropdowncontainer">
      <div class="productInfoDropdown">
        <% cart.map((product) => { %>
        <div class="productInfoRow">
          <img src="<%= product.images[0].path %>" class="checkoutProductImage" />
          <div class="productinfoRow">
            <div class="nameNSize">
              <h6><%= product.productName %></h6>
              <p>Size: <%= product.size %></p>
            </div>
            <div class="priceNQty">
              <p class="mb-0"><strong>Rs<%= product.price %>.00</strong></p>
              <p>QTY <%= product.qty %></p>
            </div>
          </div>
        </div>
        <% }) %>
        <div class="totalAmountContainer">
          <div class="subtotal">
            <p class="textSubtotal">Subtotal</p>
            <% let cartTotal = 0 %>
            <% cart.map((product) => { %>
            <% cartTotal = (parseInt(product.price)*parseInt(product.qty) + cartTotal) %>
            <% }) %>
            <p class="amountSubtotal"><strong>Rs<%= cartTotal %>.00</strong></p>
          </div>
          <div class="subtotal">
            <p>Shipping</p>
            <div>Calculate at next step</div>
          </div>
          <div class="subtotal">
            <p><strong>Total</strong></p>
            <p>PKR <strong>Rs<%= cartTotal %>.00</strong></p>
          </div>
        </div>
      </div>
      <div class="orderSummaryContainer">
        <div class="iconNText">
          <i class='bx bx-cart'></i>
          <p class="orderSummaryText">Show order summary</p>
          <i class='bx bx-chevron-down'></i>
        </div>
        <p class="cartTotal"><strong>Rs<%= cartTotal %>.00</strong></p>
      </div>
    </div>
    <div class="userInfoSection">
      <div class="contactSection">
        <p class="textlabel">Contact</p>
        <p class="email"><%= user.username %></p>
        <a class="changeLink" href="/edit/user/<%= user._id %>">Change</a>
      </div>
      <hr class="hr">
      <div class="contactSection">
        <p class="textlabel">Ship to</p>
        <p class="email"><%= user.address %>, <%= user.city  %> <%= user.postalCode %>, <%= user.country %></p>
        <a class="changeLink" href="/edit/user/<%= user._id %>">Change</a>
      </div>
    </div>
    <div class="paymentMethodContaciner">
      <h6>Shipping method</h6>
      <div class="paymentMethod">
        <p class="textPayment">Free Shipping</p>
        <p class="chargeAmount"><strong>Free</strong></p>
      </div>
    </div>
    <div class="formBottom">
      <a href="/cart" class="returnCart">
        <i class='bx bx-chevron-left'></i>
        <p class="linkText">Return to cart</p>
      </a>
      <a href="/payment" type="submit" class="submitButton">Continue to Payment</a>
    </div>
  </div>
  <div class="productInfoContainer">
    <% cart.map((product) => { %>
    <div class="productInfoRow">
      <img src="<%= product.images[0].path %>" class="checkoutProductImage" />
      <div class="productinfoRow">
        <div class="nameNSize">
          <h6><%= product.productName %></h6>
          <p>Size: <%= product.size %></p>
        </div>
        <div class="priceNQty">
          <p class="mb-0"><strong>Rs<%= product.price %>.00</strong></p>
          <p>QTY <%= product.qty %></p>
        </div>
      </div>
    </div>
    <% }) %>
    <div class="totalAmountContainer">
      <div class="subtotal">
        <p class="textSubtotal">Subtotal</p>
        <% let subtotal = 0 %>
        <% cart.map((product) => { %>
        <% subtotal = (parseInt(product.price)*parseInt(product.qty) + subtotal) %>
        <% }) %>
        <p class="amountSubtotal"><strong>Rs<%= subtotal %>.00</strong></p>
      </div>
      <div class="subtotal">
        <p>Shipping</p>
        <div>Calculate at next step</div>
      </div>
      <div class="subtotal">
        <p><strong>Total</strong></p>
        <p>PKR <strong>Rs<%= subtotal %>.00</strong></p>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/bodyclose') %>
